# Path to oh-my-zsh installation
{{ if eq .chezmoi.os "darwin" }}
ZSH="$XDG_DATA_HOME/oh-my-zsh/"
{{ else }}
ZSH="/usr/share/oh-my-zsh/"
{{ end }}

# Oh My Zsh theme
ZSH_THEME="agnoster"

# Plugins
plugins=(
	git
	pass
    zsh-autosuggestions
    zsh-syntax-highlighting
    jsontools
    gitignore
    docker
    composer
{{ if eq .chezmoi.os "linux" }}
    archlinux
{{ end }}
)

# Shell interactive configuration
. $XDG_CONFIG_HOME/sh/interactive

# Comp dump
[ -d "$XDG_CACHE_HOME/zsh" ] || mkdir -p "$XDG_CACHE_HOME/zsh"
autoload -Uz compinit
compinit -d "$XDG_CACHE_HOME/zsh/zcompdump"

# History
mkdir -p "$XDG_STATE_HOME/zsh"
export HISTFILE="$XDG_STATE_HOME/zsh/history"

# Oh-My-Zsh
source $ZSH/oh-my-zsh.sh

# SDKMAN Initialize
[[ -s "$SDKMAN_DIR/bin/sdkman-init.sh" ]] && source "$SDKMAN_DIR/bin/sdkman-init.sh"

# NVM Initialize
[ command -v brew &> /dev/null ] && [ -s "$(brew --prefix)/opt/nvm/nvm.sh" ] && \. "$(brew --prefix)/opt/nvm/nvm.sh"

