[user]
    name = Eray Aydın
    email = erayaydinn@protonmail.com
[init]
    defaultBranch = main
[pull]
    rebase = false
{{- if eq .chezmoi.os "darwin" }}
[credential]
    helper = osxkeychain
{{- end }}
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
